.hidden-question {
	visibility: hidden;
}
.visible-question {
	visibility: visible;
	border-radius: 0.5rem;
	padding: 0.5rem;
	width: fit-content;
	cursor: pointer;
	border-width: 0.01rem;
	box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.1); 
}
.visible-question:hover {
	background-color: rgb(16, 15, 15);	
	color: white 
}
.questions-container {
	/* background-color: rgb(208, 204, 211); */
	display: flex;
	justify-content: space-between;
}
.questions {
	margin: 1rem;
	text-align: left;
}
