.contactos {
	display: flex;
	justify-content: left;
	margin: 0 6rem 0 ;
	font-size: 0.7rem;
    /* background-color: cadetblue; */
}
.contactos a {
	padding: 10px;
	font-size: 0.7rem;
	text-decoration: none;
}
.whatsapp {
	color: green;
	font-weight: bold;
}