.chat-container {
	width: fit-content;
	/* background-color: rgb(193, 154, 97);  */
	overflow: hidden;
	height: 100%;
	position: relative;
	bottom: 2rem	
}
.scroll {
	width: fit-content;
	overflow-y: auto;
	margin-bottom: 20px;
	scrollbar-width: none;
	height: 50vh;
	max-height: 50vh;
}
/* Oculta los scrollbars en Webkit (Chrome, Safari, etc.) */
.scroll::-webkit-scrollbar {
	display: none;
}
.chatbot-image {
	margin-right: 0.2rem;
	width: 1.5rem;
	height: 1.5rem;
}
.assistant-role {
	display: flex;
	align-items: center;
	background-color: white;
	color: black;
	padding: 5px;
	width: fit-content;
	margin: 0.3rem 0.3rem;
	border-radius: 0.5rem;	
}
.questions-container {
	/* background-color: rgb(208, 204, 211); */
	display: flex;
	justify-content: space-between;
	top:5rem
}
.hidden-question {
	visibility: hidden;
}
.visible-question {
	visibility: visible;
	border-radius: 0.5rem;
	padding: 0.5rem;
	width: fit-content;
	cursor: pointer;
	border-width: 0.01rem;
	box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.1); 
	margin: 1rem;	
}
.visible-question:hover {
	background-color: rgb(16, 15, 15);	
	color: white 
}
.user-role {
	display: flex;
	padding: 5px;
	background-color: rgb(221, 234, 221);
	color: black;
	width: fit-content;
	margin: 0.3rem 0.3rem;
	border-radius: 0.5rem;
	word-break: break-word;
}
.user-role-second {
	background-color: aqua;
	margin-top: 5rem
}
.formulario {
	/* background-color: yellow; */
	display: flex;
	align-items: center;
	margin: 0.3rem;
	position: fixed;
	bottom: 10;
}
.inputContainer {
	display: flex;
	align-items: center;
	position: relative;
}
.inputText {
	margin: 0.3rem;
	width: 46rem;
	height: 1.5rem;
	max-width: 35rem;
	padding: 1.1rem 0.5rem;
	flex: 1;
	border-radius: 10px;
	border-width: 0.5px;
}
.submitButton {
	position: absolute;
	top: 57%;
	transform: translateY(-55%);
	right: 0.7rem;
	cursor: pointer;
	border: none;
	background-color: white;

}
.submitButtonWithNoInput {
	position: absolute;
	top: 57%;
	transform: translateY(-55%);
	right: 0.7rem;
	cursor: pointer;
	border: none;
	background-color: white;
	opacity: 30%;
}

.img-button {
	width: 100%;
}
inputText:focus {
	outline: none;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.inputText.typing {
	animation: blink 1s infinite;
	color: black;
	font-weight: bolder;
}

