.chat-container{
    width: fit-content;
    /* background-color: rgb(193, 154, 97);  */
    overflow: hidden;
	position: relative;
	height: 100%
}
.scroll {
	width: fit-content;
	overflow-y: auto;
    margin-bottom: 20px;
    scrollbar-width: none;
	height: 50vh;
	max-height: 50vh;
    
}
/* Oculta los scrollbars en Webkit (Chrome, Safari, etc.) */
.scroll::-webkit-scrollbar {
    display: none;
}

.formulario {
	/* background-color: yellow; */
    display: flex;
    align-items: center;
    margin: 0.3rem;	
	position: fixed; 
	bottom: 10;
}
.inputContainer {
    display: flex;
    align-items: center;
    position: relative;
}
.inputText {    
	margin: 0.3rem;	
    width: 46rem;
	height: 1.5rem;
    max-width: 45rem;
	padding: 0.5rem 0.5rem; 
    flex: 1;  
	border-radius: 10px;
	border-width: 0.5px;
}
.submitButton {
	position: absolute;
    top: 55%;
    transform: translateY(-55%);
    right: 0.5rem;
    cursor: pointer; 
	border: none;
	background-color: white;	
}
.submitButtonWithNoInput {
	position: absolute;
    top: 55%;
    transform: translateY(-55%);
    right: 0.5rem;
    cursor: pointer; 
	border: none;
	background-color: white;
	opacity: 30%;	
}

.img-button {
    width: 100%;    
}
inputText:focus {
	outline: none;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.inputText.typing {
	animation: blink 1s infinite;
	color: black;
	font-weight: bolder;
}
