.nav-container {
    /* background-color: beige; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    box-shadow: 0 0.1rem 0 0 rgba(0,0,0,0.1); 
    margin: 1rem 6rem;
}
.nav-container > div:first-child a {
    display: flex;
    font-weight: bold;       
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
.nav-container img {
    vertical-align: middle;
    height: 3rem;
    width: 3rem
}
.image {
    position: relative;
    bottom: 0.2rem;
    background-color: transparent;
    max-height: 50%
}
.menu-items a {
    text-decoration: none;
    color: black;
    display:inline-flexbox;
    justify-content: flex-end; 
    margin: 0 5rem
    
}
.menu-items a:hover {
    font-weight: bold;
}
.active-link {
	text-decoration: none;
	font-weight: bold;
	transition: color 0.2s ease-in-out;
}
