.grid {
	/* background-color: yellow; */
    display: grid;
   /*  grid-template-columns: (2, 1fr); */
   grid-template-columns: repeat(auto-fill);
    width: 90vw;
    height: 100vh;
    /* border: solid yellow; */
    margin: auto

}
.grid > .navbar,
.grid > .content,
.grid > .footer {
    /* background-color: white; */
    /* border: solid blue; */
    padding: 1em;
}
.grid .navbar,
.grid .footer {
    grid-column: 1/3;
    height: 10vh;    
}
.grid .content {
    height:80vh;
    grid-column: 1/3;
    margin: auto
}